body.custom-background{
	/*background-color: rgb(233,61,28);*/
	background-color: rgb(3,21,64);
}

body,
body .hentry p{
	color: rgb(3, 21, 64);
}


body .widget,
body .widget a,
h1, h2, h3, h4,
header h1#site-title a,
nav#menu ul li a,
nav#menu ul li.current_page_item a,
h2.entry-title,
h2.widget-title{
	/*color: rgb(3,21,64);*/
	color: rgb(233,61,28);
}
nav#menu ul li.current_page_item a{
	color: rgb(233,61,28);'
	font-size: 1.05em;
	font-weight: bold;
}

.hentry/*, .widget*/{
	background-color: whitesmoke;
}




/* The Page Layout */

div#page-wrap.contain{
	width: auto;
}


/* ////// Top Nav Bar ////// */
header#branding{
	width: 1042px;
	margin: 0 auto;
	padding-left: 40px;
}

header h1, header h2{
	float: left;
}

nav#menu{
	display: inline-block;
	width: auto;
	float: none;

	margin: 30px 0 0 45px;
}
nav#menu .menu ul{
	margin-right: 10px;
}

/* ////// End Top Nav Bar ////// */



#container.contain{
	width: 1240px;
	margin: 0 auto;
}

#main, #sidebar{
	display: inline-block;
	float: none;
	vertical-align: top;
}

#main{
	width: 750px;
}

#sidebar{
	width: 440px;
}

#sidebar h2{
	width: 105%;
}

#sidebar .widget ul li{
	list-style-type: none;
}

li#social_media{
	height: 173.2px;
}

li#social_media ul{
	overflow: visible;
}

li.fb-like{
	position: relative;
	top: -23px;
}
